
/*ESTILOS DE PAGINA PRINCIPAL*/
/*PRODUCTOS*/
#fondo_product{
	height: 850px;
	background-image: url("../img/fondo_producto.jpg");
	background-repeat: no-repeat;
	background-size: 100% 850px;
}

#cont_product{
	padding: 0px 0px 0px 150px;
}

#productos{
	height: 450px;
	width: 270px;
	background: white;
	padding: 50px 0px 70px 0px;
	text-align: center;
	font-family: Century Gothic;
	

}

#productos h {
	text-align: center;
	font-size: 25px; 
	
} 

#productos p {
	font-size: 15px; 
	
} 

#texto_producto{
	padding: 0px 0px 0px 15px;
	height: 170px;
	width: 240px;
	
}

#img_product{
	padding: 0px 0px 20px 0px;
	height: 170px;
	width: 170px;
}

/*BOTON*/

#button {
	margin: 10px 0px 0px 0px;
    background-color: #cf9500; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}