/*PAGINA DE CONJUNTO DE PRODUCTOS*/

/*CONTENEDOR*/
#fondo_pag_prod{
	
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,224,140,1) 98%, rgba(248,182,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(54%, rgba(255,255,255,1)), color-stop(98%, rgba(255,224,140,1)), color-stop(100%, rgba(248,182,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,224,140,1) 98%, rgba(248,182,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,224,140,1) 98%, rgba(248,182,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,224,140,1) 98%, rgba(248,182,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,224,140,1) 98%, rgba(248,182,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8b600', GradientType=1 );
}


#cont_pag_productos{
	padding: 0px 0px 50px 100px;
}

/*IMAGEN PRODUCTOS*/
#img_productos{
	height: 250px;
	width: 250px;
}

/*DESCRIPCION*/

#cont_texto {
	padding: 30px 0px 0px 0px;
}

#cont_texto h{
	font-size: 24px; 
	font-family: Century Gothic;
	
}

#cont_texto p{
	font-size: 12px; 
	font-family: Century Gothic;
	padding: 10px 0px 0px 0px;
}

/*BOTON*/
#button_pro {
	margin: 20px 0px 0px 0px;
    background-color: #cf9500; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 2px 2px #999;
}


/*PAGINA DE PRODUCTO INDIVIDUAL*/

/*IMAGEN PRODUCTO*/
#img_producto{
	height: 500px;
	width: 500px;
	padding: 20px 0px 0px 0px;

}

.img_producto_icon{
	height: 100px;
	width: 100px;
	cursor:pointer;
	padding: 0px 9px 50px 0px;


}
/*DESCRIPCION PRODUCTO*/

#cont_descripcion {
	padding: 50px 0px 50px 40px;
}
/*TITULO*/
#cont_descripcion h{
	font-size: 30px; 
	font-family: Century Gothic;
	
}

#cont_texto hr {
  
  background-color: black;
}

/*DESCRIPCION*/

#cont_descripcion P{
	font-size: 12px; 
	font-family: Century Gothic;
	padding: 30px 0px 0px 0px;
}
