.contenido {
  padding-top: 100px;
}





/*DEFAULTI*/
*{margin: 0; padding: 0;}

/*HEADER*/
header {
	width: 100%;
	height: 130px;
	overflow: hidden;
	background: #222222;
	margin-bottom: 0px;
	position: fixed;
	z-index: 10;
}

.centrado{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/*LOGOTIPO*/

header #logo{
	float: left;
	position: relative; 
    
}


header #logo p{
	color: white;
	font-family: Century Gothic;
	font-size: 50px;
	padding: 0px 0px 0px 0px;
}

header #logo p1{
	color: #ffc42e;
	font-family: Century Gothic;
	font-size: 30px;
	padding: 0px 0px 0px 30px;

}

/*MENU*/
header #menu{
	float: right;
	padding: 10px 0px 0px 0px;

}

header #menu a{
	float: right;
	color: white;
	font-family: Century Gothic;
	font-size: 12px;
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	
}

header #menu a:hover{
	color: #ffc42e
}

header #menu table{
	float: right;
	padding: 0px 0px 10px 0px
}

header #menu td{
	color: white;
	font-family: Century Gothic;
	font-size: 12px;
	padding: 3px 3px;
}

#iniciar{
	
    background-color: #cf9500; /* Green */
    border: none;
    color: white;
    border-radius: 6px;
    
    width: 100px;
    font-size: 12px;
}

.menu_social{
	float: right;
}

#img_red_social{
	width: 15px;
	height: 15px;
	cursor: pointer;
	padding: 10px 0px 0px 15px;
}
/*MENU PEGAJOSO*/

.header_2{
	position: fixed;
	height: 110px;
}

.header_2 #logo{
	font-size: 30px;
}

/*MENU ADAPTATIVO*/
@media screen and (max-width: 600px){

	.header_2{
		height: 140px;
	}

	header #logo{
		width: 100%;
		text-align: center;
		
	}

	header #menu{
		width: 100%;
		text-align: center;
		padding: 10px 0px 0px 0px;
	}
 
}


